#include "{{ header_name }}"
{% for line in includes %}
{{ line }}
{% endfor %}

{% if const_decls %}
{% for decl in const_decls %}
static const {{ decl["ctype"] }} {{ decl["name"] }}[{{ decl["size"] }}] = { {{ decl["values"] }} };
{% endfor %}
{% endif %}
{% if buffer_offsets %}
static const size_t k2c_buffer_offsets[{{ buffer_offsets|length }}] = { {{ buffer_offsets|join(", ") }} };
{% endif %}
{% if weight_offsets %}
static const size_t k2c_weight_offsets[{{ weight_offsets|length }}] = { {{ weight_offsets|join(", ") }} };
{% endif %}

{% for decl in input_shape_decls %}
{{ decl }}
{% endfor %}
{% for decl in output_shape_decls %}
{{ decl }}
{% endfor %}
static const k2c_io_desc_t k2c_inputs[] = {
{% for desc in input_descs %}
  { "{{ desc.name }}", {{ desc.shape_ptr }}, {{ desc.rank }}, {{ desc.elem_size }}, {{ desc.size }} },
{% endfor %}
};
static const k2c_io_desc_t k2c_outputs[] = {
{% for desc in output_descs %}
  { "{{ desc.name }}", {{ desc.shape_ptr }}, {{ desc.rank }}, {{ desc.elem_size }}, {{ desc.size }} },
{% endfor %}
};

const k2c_io_desc_t* k2c_get_input_desc(size_t* n) {
  if (n) *n = {{ num_inputs }};
  return k2c_inputs;
}

const k2c_io_desc_t* k2c_get_output_desc(size_t* n) {
  if (n) *n = {{ num_outputs }};
  return k2c_outputs;
}

int k2c_prepare(k2c_ctx_t* ctx, void* arena, size_t arena_bytes) {
  if (!ctx) return -1;
  ctx->arena = arena;
  ctx->arena_bytes = arena_bytes;
  if (K2C_ARENA_BYTES > 0) {
    if (!arena || arena_bytes < K2C_ARENA_BYTES) return -2;
    unsigned char* base = (unsigned char*)arena;
{% if buffer_offsets %}
    for (size_t i = 0; i < {{ buffer_offsets|length }}; ++i) {
      ctx->buffers[i] = (void*)(base + k2c_buffer_offsets[i]);
    }
{% endif %}
{% if weights_ram and weight_offsets %}
    for (size_t i = 0; i < {{ weight_offsets|length }}; ++i) {
      ctx->weights[i] = (void*)(base + k2c_weight_offsets[i]);
    }
{% endif %}
  }
{% if weights_ram and weight_copies %}
{% for copy in weight_copies %}
  memcpy(ctx->weights[{{ copy.index }}], {{ copy.const_name }}, {{ copy.size }});
{% endfor %}
{% endif %}
  return 0;
}

int k2c_invoke(k2c_ctx_t* ctx, const void* const* input_ptrs, void* const* output_ptrs) {
{{ invoke_body }}
}

void k2c_forward(const void* const* input_ptrs, void* const* output_ptrs) {
  static int k2c_prepared = 0;
  static k2c_ctx_t k2c_ctx;
  static float k2c_default_arena[K2C_ARENA_WORDS];
  if (!k2c_prepared) {
    (void)k2c_prepare(&k2c_ctx, k2c_default_arena, sizeof(k2c_default_arena));
    k2c_prepared = 1;
  }
  (void)k2c_invoke(&k2c_ctx, input_ptrs, output_ptrs);
}

static const k2c_model_t k2c_model = {
  .forward = k2c_forward,
  .prepare = k2c_prepare,
  .invoke = k2c_invoke,
  .num_inputs = {{ num_inputs }},
  .num_outputs = {{ num_outputs }},
  .input_size = {{ input_total_size }},
  .output_size = {{ output_total_size }},
  .arena_bytes = {{ arena_bytes }},
};

const k2c_model_t* k2c_get_model(void) {
  return &k2c_model;
}

const k2c_model_t* getModel(void) {
  return &k2c_model;
}
