#ifndef {{ guard }}
#define {{ guard }}

#include <stddef.h>

#define K2C_NUM_INPUTS {{ num_inputs }}
#define K2C_NUM_OUTPUTS {{ num_outputs }}
#define K2C_INPUT_TOTAL_SIZE {{ input_total_size }}
#define K2C_OUTPUT_TOTAL_SIZE {{ output_total_size }}
#define K2C_NUM_BUFFERS {{ num_buffers }}
#define K2C_NUM_WEIGHTS {{ num_weights }}
#define K2C_ARENA_BYTES {{ arena_bytes }}
#define K2C_ARENA_WORDS {{ arena_words }}

#define K2C_INPUT_SIZE K2C_INPUT_TOTAL_SIZE
#define K2C_OUTPUT_SIZE K2C_OUTPUT_TOTAL_SIZE

#if K2C_NUM_BUFFERS > 0
#define K2C_BUFFER_SLOTS K2C_NUM_BUFFERS
#else
#define K2C_BUFFER_SLOTS 1
#endif
#if K2C_NUM_WEIGHTS > 0
#define K2C_WEIGHT_SLOTS K2C_NUM_WEIGHTS
#else
#define K2C_WEIGHT_SLOTS 1
#endif

typedef struct {
  const char* name;
  const int* shape;
  size_t rank;
  size_t elem_size;
  size_t size;
} k2c_io_desc_t;

typedef struct {
  void* arena;
  size_t arena_bytes;
  void* buffers[K2C_BUFFER_SLOTS];
  void* weights[K2C_WEIGHT_SLOTS];
} k2c_ctx_t;

typedef struct {
  void (*forward)(const void* const* inputs, void* const* outputs);
  int (*prepare)(k2c_ctx_t* ctx, void* arena, size_t arena_bytes);
  int (*invoke)(k2c_ctx_t* ctx, const void* const* input_ptrs, void* const* output_ptrs);
  size_t num_inputs;
  size_t num_outputs;
  size_t input_size;
  size_t output_size;
  size_t arena_bytes;
} k2c_model_t;

const k2c_model_t* k2c_get_model(void);
int k2c_prepare(k2c_ctx_t* ctx, void* arena, size_t arena_bytes);
int k2c_invoke(k2c_ctx_t* ctx, const void* const* input_ptrs, void* const* output_ptrs);
const k2c_io_desc_t* k2c_get_input_desc(size_t* n);
const k2c_io_desc_t* k2c_get_output_desc(size_t* n);
const k2c_model_t* getModel(void);
void k2c_forward(const void* const* input_ptrs, void* const* output_ptrs);

#endif /* {{ guard }} */
